<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="AHPpTYp7k_aijTMNIH24lsoKlAvS08Lg4ojC4fiwLZk" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title><%=locals.title%></title>
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ipwanciu">
    <meta name="twitter:title" content="<%=locals.title%>">
    <meta name="twitter:creator" content="@ipwanciu">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <!--<meta name="twitter:image" content="http://www.example.com/image.jpg">-->

    <!-- Open Graph data -->
    <meta property="og:title" content="<%=locals.title%>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://vinum.md:3030/" />
    <!--<meta property="og:image" content="http://example.com/image.jpg" />-->
    <meta property="og:site_name" content="Ion Prodan blog" />
    <meta property="fb:admins" content="100002953129385" />
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <!--<link href="/lib/angular-motion/dist/angular-motion.min.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="//rawgithub.com/mgcrea/bootstrap-additions/master/dist/bootstrap-additions.min.css">
    <%if(locals.editCategory){%>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.5.2/summernote.css"/>
    <%}%>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
<div class="container-fluid">
    <div class="row">
        <header>
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><kbd>$ commands-h</kbd></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li <%if(locals.url == '/'){%> class="active" <%}%>><a href="/">Home</a></li>
                            <%if(locals.categoryList){%>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categorii <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <%locals.categoryList.forEach(function (v, k) {%>
                                    <li><a href="/category/<%=v.title.replace(/\s/g, "_")%>"><%=v.title%></a></li>
                                    <%})%>
                                </ul>
                            </li>
                            <%}%>
                            <%if(locals.data){%>
                            <li><a href="/dash">Dash</a></li>
                            <li><a href="/dash/logout">Log Out</a></li>
                            <%}%>
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <h1 class="parent-cat"><%if(!locals.title){%><a href="<%=locals.url%>"><%=locals.category.title%></a><%} else {%><%=title%><%}%></h1>
        </div>
        </header>
        <div class="container" id="content">