<% include part/header.ejs%>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <%if(locals.categoryList && !locals.read){%>
        <ul class="nav nav-pills">
            <%locals.categoryList.forEach(function (v, k) {%>
            <li role="presentation"><a href="/category/<%=v.title.replace(/\s/g, "_")%>"><%=v.title%></a></li>
            <%})%>
        </ul>
        <%} else if(locals.read){%>
        <%-locals.editCategoryData ? locals.editCategoryData.body : 'Not found'%>
        <%}%>
        <ol class="nav nav-pills nav-justified">
            <% !locals.ThisPosts || locals.ThisPosts.forEach(function (v, k) {%>
                <li role="presentation"><a href="/post/<%=v.title.replace(/\s/g, "_")%>"><%=v.title%></a></li>
            <%})%>
        </ol>
    </div>
</div>
<% include part/footer.ejs%>