<% include part/header.ejs%>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-7">
            <p>Salut! Acest <strong>Mini-Blog</strong> face parte din domeniul IT. Este confecționat pe <a href="/category/nodejs">NodeJS</a> și susținut cu scopul de a mă specializa (personal) cu acest limbaj.
            <a href="/category/">Aici</a> vei găsi toate categoriile, iar <a href="/post/">aici</a> toate postările. Tot ce voi invăța nou, am să public în categoria cuvenită, la fel, mă voi împărtăși cu practica care o am și care o acumulez zi de zi.</p>
            <p>Vezi și <a href="/category/bourbon">Bourbon</a>, <a href="/category/front-end">Front-end</a>, <a href="/category/angularjs">AngularJS</a>, <a href="/category/lumx">Lumx</a>.</p>
            Share aici - <span class="yashare-auto-init" data-yashareL10n="en" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus" data-yashareTheme="counter"></span>
        </div>
        <div class="col-md-5">
            <img src="/images/flat_terminal.png" alt="terminal" class="img-responsive"/>
        </div>
    </div>
</div>
<script async="async" type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
<% include part/footer.ejs%>