<% include part/header.ejs%>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <%if(locals.posts){%>
            <ul class="nav nav-pills">
                <%locals.posts.forEach(function (v, k) {%>
                <li role="presentation"><a href="/post/<%=v.title.replace(/\s/g, "_")%>"><%=v.title%></a></li>
                <%})%>
            </ul>
        <%}%>
        <%if(locals.body){%>
        <div class="panel-body">
            <%-locals.body%>
            <span class="text-info">
                Scris pe <b><%=locals.created%></b>
                <span class="pull-right">
                    <span class="yashare-auto-init" data-yashareL10n="en" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,gplus" data-yashareTheme="counter"></span>
                </span>
            </span>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Comentarii</h3>
                    </div>
                    <div class="panel-body">
                        <div id="disqus_thread"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Citește și:</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation"><a href="#">Home</a></li>
                            <li role="presentation"><a href="#">Profile</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'vinum3030'; // required: replace example with your forum shortname
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
        <%} else {%><p>Ne pare rău, însă nu am găsit nimic.</p><%}%>
    </div>
</div>
<% include part/footer.ejs%>