// Variables
@themes: "../../lib/bootstrap/less";
@url-images: "../../images";
@import "@{themes}/bootstrap.less";
@body-bg: #f0efe7;
@content-bg: #fcfcfa;
@content-border-color: #e2e0d8;
@sidebar-bg: #f7f7f7;

.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

body{
  background: @body-bg url("@{url-images}/body.jpg");
  padding-bottom: 70px;
  font-family: @font-family-monospace;
  header {
    margin-bottom: 26px;
    background-color: @body-bg;
    border-bottom: solid 1px @content-border-color;
    h1.parent-cat {
      text-align: center;
      text-transform: uppercase;
      color: @btn-danger-bg;
    }
    nav li.dropdown ul li a {
      text-transform: capitalize;
    }
  }
  #content {
    .jumbotron {
      background: @body-bg url("@{url-images}/isometric-grid.png");
      font-size: 18px;
      a {
        color: @btn-danger-border;
      }
    }
    > .row .col-md-10, .row .col-md-12, .row .col-md-9 {
      img {
        margin: 0 10px;
      }
      background: @content-bg;
      border: solid 1px @content-border-color;
      .border-radius;
      padding: 22px;
    }
    > .row .col-md-10, .row .col-md-12 {
      font-size: 18px;
    }
    > .row .col-md-3 .sidebar {
      background-color: @sidebar-bg;
      border: solid 1px @content-border-color;
      .border-radius;
    }
  }
}