<div class="row">
    <div class="col-md-3 hidden-print" role="complementary">
        <div class="sidebar bs-sidebar">
            <div id="navigation">
                <ul class="nav sidenav">
                    <li><a href="/dash/category">Category </a></li>
                    <li><a href="/dash/posts/">Posts </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9" ng-controller="editCategory as edit">
        <%if(locals.category || locals.addnew || locals.posts){%>
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <%if(locals.control){%><li class="btn btn-warning" onclick="location.href='/dash/<%=control%>/new/1'">Add new <%=control%></li><%}%>
                    <%if(locals.category && locals.category.length && locals.control == 'category') { category.forEach(function(el, index){%>
                    <li><a href="/dash/category/<%=el._id+'/'+index%>"><%=el.title%></a></li>
                    <%})}%>
                    <%if(locals.posts && locals.posts.length && locals.control == 'posts') { posts.forEach(function(el, index){%>
                    <li><a href="/dash/posts/<%=el._id+'/'+index%>"><%=el.title%></a></li>
                    <%})}%>
                </ul>
            </div>
            <div class="col-md-9">
                <%if(locals.editCategory){%>
                <form role="form" method="post" action="">
                    <%if(locals.editCategoryData._id){%><input type="hidden" name="_id" value="<%=locals.editCategoryData._id%>"/><%}%>
                    <div class="form-group row">
                        <div class="col-xs-9">
                            <input type="text" autocomplete="off" name="title" value="<%=locals.editCategoryData.title || ''%>" class="form-control" placeholder="Enter new title">
                            <%if(locals.control === 'posts'){%>
                            <br/>
                            <div class="row">
                                <%if(locals.category && locals.category.length) {%>
                                <div class="col-xs-6">
                                    <select class="form-control input-sm " name="postsCategoryId">
                                        <%locals.category.forEach(function(el, index){%>
                                        <option <%if(locals.editCategoryData.categoryId == el._id){%> selected <%}%> value="<%=el._id%>"><%=el.title%></option>
                                        <%})%>
                                    </select>
                                </div>
                                <%}%>
                                <div class="col-xs-6">
                                    <label class="radio-inline">
                                        <input type="radio" <%if(locals.editCategoryData.publish == 0){%> checked <%}%> name="publish" id="inlineRadio1" value="0" checked> Draft
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="publish" <%if(locals.editCategoryData.publish == 1){%> checked <%}%> id="inlineRadio2" value="1"> Publish
                                    </label>
                                </div>
                            </div>
                            <%}%>
                        </div>
                        <%if(locals.control === 'posts'){%>
                        <%
                            locals.helper = [];
                            if(locals.editCategoryData.helper){
                                hlprs = locals.editCategoryData.helper[0].split(',');
                                hlprs.forEach(function (k, v) {
                                    locals.helper[k] = true;
                                })
                            }
                        %>
                        <div class="col-xs-3">
                            <select class="form-control input-sm" multiple size="2" name="helper" id="helper">
                                <option <%if(locals.helper['0']){%> selected <%}%> value="0">-h</option>
                                <option <%if(locals.helper['1']){%> selected <%}%> value="1">--help</option>
                                <option <%if(locals.helper['2']){%> selected <%}%> value="2">help</option>
                            </select>
                        </div>
                        <%}%>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="body"><%-locals.editCategoryData.body || ''%></textarea>
                        <%if(locals.control === 'posts'){%>
                        <br/>
                        <input type="text" name="tags" autocomplete="off" value="<%=locals.editCategoryData.tags || ''%>" placeholder="Input your tags" class="form-control input-sm"/>
                        <%}%>
                    </div>
                    <%if(locals.editCategoryData.created){%><p class="help-block">Created: <span><%=locals.editCategoryData.created%></span><%}%></p>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <%if(locals.editCategoryData.title){%><button id="deleteData" onclick="return false;" class="btn btn-danger">Delete</button><%}%>
                </form>
                <%} else {%>Click to edit category<%}%>
            </div>
        </div>
        <%} else {%> <p>No data fot edit, sorry :) <%if(locals.control){%><a class="btn btn-sm btn-warning" href="/dash/<%=locals.control%>/new">Add new <%=locals.control%></a></p> <%}}%>
    </div>
</div>