<div class="col-md-8 col-md-offset-2">
    <%if (locals.data){%>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%-data.message%>
    </div>
    <%}%>
    <form class="form-horizontal" novalidate id="login_form" role="form" method="post" action="/dash">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
                <input type="email" name="useremail" class="form-control" id="inputEmail3" data-toggle="tooltip" data-placement="auto" title="Fill out this input" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-8">
                <input type="password" name="userpassword" class="form-control" data-toggle="tooltip" data-placement="auto" title="Fill out this input" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <div class="checkbox">
                    <label>
                        <input name="remember" type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>
    </form>
</div>